/* background */
.flower
{
    position: absolute;
    width:400px;
    height:250px;
    top:-20px;
    z-index:2;
}
#f_1
{
    position: absolute;
    left:330px;
    top:70px;
    width:40px;
}
#f_2
{
    position: absolute;
    width:20px;
    left:300px;
}
#f_3
{
    position: absolute;
    width:20px;
    top: 170px;
    left:30px;
}

/* profile */
#profile
{
    display:flex;
    position: absolute;
    width:400px;
    height:270px;
    z-index:3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top:-15px;
}
#profile_background
{
    position: absolute;
    display:flex;
    position: absolute;
    width:130px;
    height:130px;
    border-radius: 50%;
    background: #EDEDED;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#profile_title,#save_button,#share_button
{
    display:flex;
    width: 248px;
    height: 45px;
    background: #FFBEBE;
    color:white;
    border-radius: 15px;
    border-color: #FFBEBE;
    z-index: 3;
    margin:10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -0.04em;
    align-items: center;
    justify-content: center;
}
#profile #profile_title
{
    position:absolute;
    width:160px;
    height:40px;
    top:3px;
}
.information
{
    position: absolute;
    width:400px;
    display:flex;
    align-items: center;
    top:210px;
    z-index:3;
    flex-direction: column;
    overflow-y: auto;
    height:350px;
    
}
/* scroll */
.information::-webkit-scrollbar {
    width: 5px;
  }
  .information::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
  }
  .information::-webkit-scrollbar-track {
    /* background-color: grey; */
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }


.information .inputbox,#timetable
{
    margin:5px;
    width:280px;
    height:40px;
    font-size: 12px;
    padding:10px;
    color: #5F5F5F;
    font-weight: 400;
    z-index: 3;
    float:left;
    font-family: 'Inter';

}
input:focus {outline:none;}
.input
{
    border:none;
    height: auto;
    width: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    letter-spacing: -0.04em;

    color: #5F5F5F;

}
.input::placeholder {
    font-size: 12px;
    color: #5F5F5F;
    font-weight: 400;
    font-family: 'Inter';
  }

#timetable_button
{
    position: absolute;
    visibility: hidden;
}
#timetable_click
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.04em;

    color: #5F5F5F;

    background: #D9D9D9;
    border-radius: 10px;
    z-index: 3;
    margin:10px;
    padding:3px;
}
#img_container
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.information .inputbox::placeholder
{
    color: #5F5F5F;
    font-weight: 400;
}

#profile_button
{
    position:absolute;
    z-index:3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:560px;
    left:30px;

}
#save_button
{
    width:70px;
}

#click_me
{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 2px;
    line-height: 8px;
    letter-spacing: -0.04em;
    color: #8C8C8C;
    top:14px;
    left:40px;
    display: flex;
}



#chooseFile
{
    visibility: hidden;
    position: absolute;
}
#chooseFile_button
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: -0.04em;

    color: #5F5F5F;
}
#click_button
{
    position: absolute;
}
#menu_component
{
    width: 30px;
    height: 5px;
    margin:5px;
    background: #FFBEBE;
    border-radius: 5px;
}
#menu
{
    position: absolute;
    z-index: 3;
    left:10px;
    top:30px;
}

/* hamburger button */
a 
{
    text-decoration: none;
    color: #8C8C8C;
}


.mobile_btn{
    position: absolute;
    top:70px;
    left: 15px;
} 

input[id="hamburger"] 
{
    display: none;
}
input[id="hamburger"] + label 
{
    display: block;
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
    z-index: 4;
}
input[id="hamburger"] + label span 
{
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background: #FFBEBE;
    border-radius: 5px;
    transition: all 0.35s;
}
input[id="hamburger"] + label span:nth-child(1) 
{
    top: 0;
}
input[id="hamburger"] + label span:nth-child(2) 
{
    top: 50%;
    transform: translateY(-50%);
}
input[id="hamburger"] + label span:nth-child(3) 
{
    bottom: 0;
}
input[id="hamburger"]:checked + label 
{
    z-index: 5;
}
input[id="hamburger"]:checked + label span 
{
    background: #FFBEBE;
}
input[id="hamburger"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
input[id="hamburger"]:checked + label span:nth-child(2) {
    opacity: 0;
}
input[id="hamburger"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}
div[class="sidebar"] {
    width: 170px;
    height: 240px;
    position: fixed;
    top:-15px;
    left: -100%;
    z-index: 4;
    background: #FFFFFF;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

input[id="hamburger"]:checked + label + div {
    position: absolute;
    left:-15px;
}

.nav_mobile {
    position: absolute;
    top:50px;
    width: 170px;
    height: 200px;
}

#menu_title a
{
    font-family: 'S-CoreDream-3Light';
    position: absolute;
    left:70px;
    top:10px;
    font-size: 20px;
}

.menu_list
{
    font-family: 'S-CoreDream-3Light';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
    width: 170px;
}
.menu_list a
{
    display: flex;
    flex-direction: column;
    font-size:18px;
}


.sidebar .menu_list a:hover{

    text-decoration: none;
    color:black;
    padding: 0;
    margin: 0;
    border: 0px;
    background: rgba(255, 239, 198, 0.5);
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 말풍선 */
#bubble
{
    width:40px;
    height:30px;
    background: #FFFFFF;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    letter-spacing: -0.04em;

    color: #8C8C8C;
    padding:2px;

    position: absolute;
    top:110px;
    left:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
#bubble:after {
    content: '';
    position: absolute;
    border-bottom: 10px solid #FFFFFF;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    top: -10px;
    left: 22px;
}